*{
  background: #333;
  font-family:gulim;
  overflow-x: hidden;
   
}
 

.feed{
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(100px, auto);
  transform: scale(0.5);

}

.feed img{
  display: block;
  /* width:45vw; */
}

/*customize scrollbar*/ 
